<html>
<head>
    <title>Tuhat</title>
</head>    
    <body>
        <h2>Uus m&#228ng</h2>

        <form method="post">
            <label>
                <div>Sisesta m&#228ngijate nimed</div>
                <input type="text" name="pl1" value="{{subject}}">
            <br>
                <input type="text" name="pl2" value="{{subject2}}">
            <br>
                <input type="text" name="pl3" value="{{subject3}}">
            </label>
            <br>



            <input type="submit">

    </body>